.cast-container {
  margin-top: 20px;
}

.cast-container textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.filter-options label {
  display: flex;
  align-items: center;
}

.filter-options input {
  margin-right: 5px;
}

.cast-container button {
  padding: 10px 20px;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.cast-container button:hover {
  background-color: #555;
}
