/* 追加するスタイル */
body {
    background-image: url('./home_icon.jpeg'); /* 背景画像のパス */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.App {
    text-align: center;
}

.App-header {
    background-color: rgba(0, 0, 0, 0.5); /* ヘッダーの背景色を少し透明に */
    padding: 20px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* 必要に応じて調整 */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); /* フォームの背景色を少し透明に */
    padding: 20px;
    border-radius: 10px;
}

label {
    margin: 10px 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em; /* 必要に応じて調整 */
}


