.select-team {
  text-align: center;
}

.team-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-logo {
  margin: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.team-logo img {
  width: 100px;
  height: 100px;
}

.team-logo.selected {
  border-color: blue;
}
